@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 100vh;
    background-image: linear-gradient(90deg, #c5cdda, #b6fbff);
    overflow: hidden;
}
#text
{
  position: relative;
  color: rgba(255, 255, 255, 0.76);
  font-weight: 700;
  font-size: 5em;
  line-height: 0.9em;
  letter-spacing: 2px;
  text-align: center;
  transform: rotate(-5deg) skew(25deg);
  padding-top: 450px;
  padding-left: 40px;
}
#text:before{
    content: attr(data-text);
    position: absolute;
    top: 30px;
    left: -30px;
    color: rgba(0, 0, 0, 0.3);
    text-shadow: none;
    filter: blur(8px);
    z-index: -1;
    padding-top: 500px;

}
.face
{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: radial-gradient(rgb(243, 240, 42),rgb(236, 238, 121),rgb(245, 245, 115), rgb(250, 247, 82),black);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 150px;
    box-shadow: -10px 40px 20px 0px rgba(0, 0, 0, 0.185);
    padding: 50px;
    
    
}
.face::before
{
  content: '';
  position: absolute;
  top: 180px;
  width: 150px;
  height: 70px;
  background-color: #b57700;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  transition: 0.5s;
}
.face:hover::before
{
    top: 210px;
    width: 150px;
    height: 20px;
    background-color: #b57700;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.eyes
{
    position: relative;
    top: -40px;
    display: flex;
}
.eyes .eye
{
    position: relative;
    width: 80px;
    height:  80px;
    display: block;
    background: #fff;
    margin: 0 15px;
    border-radius:  50%;
}
.eyes .eye::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
    background: #333;
    border-radius: 50%;

}